@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&family=Oswald:wght@500&display=swap');
p,
a,
li,
label {
    font-family: 'Marvel', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}


/* Character */

.character-image {
    width: 100%;
}


/* Comic */

.comic-wrapper {
    border: solid black 1px;
    border-radius: 5px;
}