@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&family=Oswald:wght@500&display=swap');
p,
a,
li,
label {
    font-family: 'Marvel', sans-serif;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    position: relative;
}

h1 {
    font-size: 3.5em;
}

.secondary-color {
    color: #ed1d24;
}

.text-bottom {
    position: absolute;
    bottom: 7px;
    right: 0;
    left: 0;
}


/* stats */

.stats-title {
    font-size: 1.1em;
}

.number {
    font-size: 2.4em;
    font-weight: 800;
}


/* Character information */

.character-image {
    width: 100%;
}

.character-info-container {
    padding: 85px 0px;
}


/* Cards */

#changeableBackground {
    transition: 0.3s;
    background-size: contain !important;
}

.card-container {
    transition: 0.5s;
    cursor: default;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid rgba(255, 255, 255, 0.25) 1px;
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.card-container .card-title {
    transition: 0.5s;
    z-index: 5;
    color: white;
}

.card-container:hover .card-title {
    color: black;
}

.card-container button {
    transition: 0.5s;
    position: absolute;
    bottom: -35px;
    right: 15px;
    background-color: #ed1d24;
    border: solid white 1px;
    font-weight: 800;
    padding: 5px;
    font-size: 1.5em;
    line-height: 20px;
    color: white;
}

.card-container:hover button {
    bottom: 15px;
}

.card-container:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.card-container:hover::before {
    height: 35%;
}

.card-container::before {
    height: 30%;
    transition: 0.5s;
    content: "";
    width: 100%;
    background-color: white;
    height: 0px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}


/* fordsdevelopment section */

.fd-section {
    padding: 65px 0;
    border-top: solid 3px #7a7ab3;
    border-bottom: solid 3px #7a7ab3;
    background-color: #f3f3f3;
}

.fd-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.fd-container .fords-img {
    position: relative;
    top: 0;
    right: 0;
    background: url("../img/fordsdevelopment_mobile_ux.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
}

.fd-video-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
}